<h1>Edit a product</h1>

<form action="/products/<%= @product.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>name: <input type="text" name="name"></p>
  <p>price: <input type="text" name="price"></p>
  <p>description: <input type="text" name="description"></p>
  <p>supplier_id:
    <select name="supplier_id">
      <% @suppliers.each do |supplier| %>
        <option value="<%= supplier.id %>"><%= supplier.name %></option>
      <% end %>
    </select>
  </p>
  <input type="submit" value="Submit Product Update">
</form>
