<h1>Add a new product</h1>

<form action="/products/7" method="post">
  <p>name: <input type="text" name="name"></p>
  <p>price: <input type="text" name="price"></p>
  <p>description: <input type="text" name="description"></p>
  <p>supplier_id: <input type="text" name="supplier_id"></p>
  <p><input type="submit"></p>
</form>
