<h1>Show 1 Product</h1>

<p><a href="/recipes">Back to Index</a></p>

<p>product name: <%= @product.name %></p>
<p>price $<%= @product.price %></p>
<p>description: <%= @product.description %></p>
<p>stock status: <%= @product.stock_status %></p>
